<div flex="18">
	<md-sidenav id="leftNavBar" md-component-id="leftNavBar" class="md-sidenav-left md-whiteframe-4dp">
    	<md-toolbar id="sidetoolbar">
    		<div class="menu_heading">
    			<div id="menu"></div>
    		</div>
   			<md-divider style="background-color: #009688;"></md-divider>
    		<div class="menu_list">
                <md-list>
       	 			<md-list-item class="md-3-line" ng-href="#/home">
        				<span class="menu-list">Home</span>
        			</md-list-item>
        			<md-list-item class="md-3-line" ng-href="#/projects">
        				<span class="menu-list">Project</span>
        			</md-list-item>
        			<md-list-item class="md-3-line" ng-href="#/ngos">
        				<span class="menu-list">Ngos</span>
        			</md-list-item>
        			<md-list-item class="md-3-line" ng-href="#/wishlist">
        				<span class="menu-list">WishList</span>
        			</md-list-item>
        		</md-list>
    		</div>
        </md-toolbar>
    </md-sidenav>
</div>
