<section layout="row" flex layout-wrap layout-fill>
	<md-card class="intro_card">
		<mad-card-title class="card_title">
			<md-card-title-text class="title_text">
				<span class="md-headline">Card Headline</span><br>
				<span class="md-subhead">Card Subheading</span>
			</md-card-title-text>
		</mad-card-title>
		<md-card-content class="intro_card_content">
			<p class="desc_card_content">
				lorem ipsum
			</p>
		</md-card-content>
	</md-card>
	<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</section>