<section layout="row" style="background-color: #E0E0E0" layout-wrap>
	<md-card id="project-card" ng-repeat="items in descriptions" flex="23">
		<img src="images/dummy_image.jpg" class="md-card-image" alt="Washed Out">
				<h2 id="card-title">{{items.title}}</h2> 
		<md-card-content>
			<h3 id="description">Description</h3>
			<p>
				{{items.description}}
			</p>
		</md-card-content>
		<md-card-actions layout="row" layout-align="end center">
			<md-button>Donate</md-button>
		</md-card-actions>
    </md-card>
</section>