.card_title {
	margin-top: 1.5em;
	margin-left: 1em;
}
.intro_card_content {
	padding-left: 0;
	margin-left: 1em;
}
.false_toolbar {
	background-color: #009688;
	min-height: 180px;
}
.intro_card {
	background-color: #00BCD4;
	margin-left: 10%;
	margin-right: 2em; 
	margin-top: -7em;
	width: 80%;
	height: 350px;
}
.desc_card_content {
	color: white;
}

*:focus {
	outline: none;
}

/*DIALOG MODEL STYLING*/
.projectModel {
	background-color: white;
	height: 1000px;
	width: 1600px;
}
.dialogImage {
	max-height: 400px;
}
/*DIALOG MODEL STYLING ENDS*/