.card_title {
	margin-top: 1.5em;
	margin-left: 1em;
}
.intro_card_content {
	padding-left: 0;
	margin: auto;
}
.false_toolbar {
	background-color: #009688;
	min-height: 180px;
}
.intro_card {
	background-color: #00BCD4;
	margin-left: 10%;
	margin-right: 2em; 
	margin-top: -7em;
	width: 80%;
	height: 350px;
}
.desc_card_content {
	color: white;
}
.commonMaterialContainer {
	margin: auto;
}

*:focus {
	outline: none;
}

/*DIALOG MODEL STYLING*/
.projectModel {
	object-fit: cover;
	background-color: white;
	min-height: 95% !important;
	min-width: 95% !important;
}
.dialogToolbar {
	background-color: #009688 !important;
}
.dialogImage {
	max-height: 400px;
}
.dialogCancelButton {
	margin-top: 10px !important;
	padding: inherit !important;
	float: right;
}
/*DIALOG MODEL STYLING ENDS*/