.brandName {
	font-weight: 400;
	font-size: 1.5em; 
	color: white;  
	margin-left: 1em;
}
.brandName a span {
	font-style: italic;
	font-weight: 20 !important;
	font-size: 1.6em;
}
.loginBtn {
	color: white; 
	cursor: pointer;
	margin-left: auto; 
	margin-right: 2em; 
}
.card_title {
	margin-top: 1.5em;
	margin-left: 1em;
}
.intro_card_content {
	padding-left: 0;
	margin: auto;
}
.intro_card {
	background: -webkit-radial-gradient(#4DB6AC, #00796B);
	background: -o-radial-gradient(#4DB6AC, #00796B);
	background: -moz-radial-gradient(#4DB6AC, #00796B);
	margin-left: 10%;
	margin-right: 2em; 
	width: 80%;
	height: 250px;
	position: absolute;
	top: 140px;
}
.desc_card_content {
	color: white;
}
.commonMaterialContainer {
	padding-top: 25em;
	margin: auto;
}

*:focus {
	outline: none;
}

/*DIALOG MODEL STYLING*/
.projectModel {
	object-fit: cover;
	background-color: white;
	min-height: 95% !important;
	min-width: 95% !important;
}
.dialogToolbar {
	background-color: #009688 !important;
}
.dialogImage {
	object-fit: cover;
	min-height: 400px;
	max-height: 400px;
}
.projectDesc {
	min-height: 260px !important;
}
.dialogProjectTitle {
	margin-top: -35px;
    color: whitesmoke;
    margin-left: 10px;
}
.dialogProjectDesc {
	margin-left: 10px;
    margin-top: auto;
}
/*DIALOG MODEL STYLING ENDS*/

@media only screen and (max-width: 500px) {
	.brandName {
		font-size: 1em;
	}
}