/*CLASS STYLING*/
.about_projects_card {
	background-color: #81D4FA;
	margin-left: 2em;
	margin-right: 2em; 
	margin-top: -5em;
	width: 95%;
	height: 400px;
	z-index: 100px;
}
.title_text {
	color: white;
}
.card_content {
	min-height: 140px;
}
.project_desc {
	font-size: 15px;
}
/*CLASS STYLING ENDS*/

/*ID STYLING*/
#project-card {
	width: 340px;
	height: 400px;
	margin-left: 2em;
}
#card-title {
	margin-top: 10px;
	margin-left: 16px;
	margin-bottom: 0px;
	font-size: 1em;
	font-weight: bold;
}
#description {
	margin-top: 0;
	margin-bottom: 1em;
	font-size: 1em;
	font-weight: lighter;
}
/*ID STYLING ENDS*/

/*TAGS STYLING*/
section {
	background-color: #E0E0E0;
}
/*TAGS STYLINGENDS*/