/*CLASS STYLING*/
.about_projects_card {
	background-color: #81D4FA;
	margin-left: 2em;
	margin-right: 2em; 
	margin-top: -5em;
	width: 70%;
	height: 400px;
	z-index: 100px;
}
.title_text {
	color: white;
}
.card_content {
	min-height: 140px;
}
.project_desc {
	font-size: 14px;
}
/*CLASS STYLING ENDS*/

/*ID STYLING*/
#project-card {
	width: 340px;
	height: 420px;
	margin: auto;
	margin-top: 1.5em;
	margin-bottom: 1em;
	cursor: pointer;
}
#project-card-actions {
	margin: auto;
}
#card-title {
	margin-top: 0px;
	margin-left: 16px;
	margin-bottom: 0px;
	font-size: 1em;
	font-weight: bold;
}
#description {
	margin-top: 0;
	margin-bottom: 1em;
	font-size: 18px;
	font-weight: lighter;
}
#add-icon svg {
	float: right;
	margin-top: -21px;
	margin-right: 8px;
	background-color: #FF5722;
	border-radius: 1em;
}
#donate-button {
	margin: auto;
}
/*ID STYLING ENDS*/

/*TAGS STYLING*/
section {
	background-color: #E0E0E0;
}
/*TAGS STYLINGENDS*/