/*ID STYLES*/
#toolbar {
	height: 200px;
}

#g-login{
	/*margin-top: 3%;*/
	margin-left: 2em;
	float: right;
}

#fb-login{
	margin-left: 50%;
	float: right;
}

#sidetoolbar{
	background-color: white;	
}

#project-card {
	width: 300px;
	height: 400px;
	margin-left: 5%;
	/*margin-top: 5%;*/
}

#sidenav {
	width: 13em;
}

#brand-name {
	color: white;
	font-weight: lighter;
	/*margin-top: 1em;*/
	margin-left: 1em;
	font-size: 1.5em;
}

#description {
	margin-top: 0px;
	margin-bottom: 0px;
}

#card-title {
	margin-top: 5px;
	margin-left: 10px;
	margin-bottom: 0px;
}

#login-btn {
	width: 100px;
	margin-top: 0;
	/*margin-right: 15%;*/
	margin-left: 93%;
	float: right;
}

#menu {
	color: grey;
	font-family: 'robota' san-serif;
	font-weight: bold;
	margin-left: 5%;
}

/*CLASS STYLES*/

.md-3-line {
	color: black;
}

.menu-list {
	color: black;
	font-size: 18px;
	font-weight: lighter;
}

/*TAG STYLES*/
p {
	margin-top: 0;
	overflow-x: auto;
    white-space: nowrap;
    width: 280px;
    font-size: 15px;
    color: grey;
}

h4 {
	color: black;
}

md-card-title{
	padding: 24px 16px 16px 0px;
}

