/*ID STYLES*/
#toolbar {
	height: 13.5em;
}

#sidetoolbar{
	background-color: white;	
}

#project-card {
	width: 300px;
	height: 400px;
	margin-left: 5%;
	margin-top: 5%;
}

#sidenav {
	width: 13em;
}

#brand-name {
	color: white;
	margin-top: 3em;
	margin-left: 1em;
	font-size: 2em;
}

#description {
	margin-top: 0px;
	margin-bottom: 0px;
}

#card-title {
	margin-top: 5px;
	margin-left: 10px;
	margin-bottom: 0px;
}
/*CLASS STYLES*/

.personInfo {
	background-color: #FFAB91;
	height: 300px;
}	

.md-3-line {
	color: black;
}

/*TAG STYLES*/
p {
	margin-top: 0;
	overflow-x: auto;
    white-space: nowrap;
    width: 280px;
    font-size: 15px;
    color: grey;
}

h4 {
	color: black;
}

md-card-title{
	padding: 24px 16px 16px 0px;
}

